<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Compiled and minified CSS -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8">

</head>
<body>
{% include 'navbar.html' %}

<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</body>
</html>