<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback list</title>
</head>
<body>
{% include 'base.html' %}

<div class="container" style="width: 800px">
    <div class="row">
        {% for feedback in feedback %}
            <a href="{{ url_for('feedback', feedback_id=feedback.id) }}">
                <ul class="collection">
                    <div class="collection-item col s12 m6">
                        <i class="material-icons prefix"></i>
                        Title : {{ feedback.name }}

                    </div>
                    <div class="collection-item col s12 m6">
                        <i class="material-icons prefix"></i>
                        Category : {{ feedback.category }}

                    </div>
                     <div class="collection-item col s12 m6">
                        <i class="material-icons prefix"></i>
                         Code of {{ feedback.category }}: {{ feedback.kodas }}

                    </div>
                    <div class="collection-item col s12 m6">
                        <i class="material-icons prefix"></i>
                        Rating : {{ feedback.ivertinimas }}

                    </div>

                    <div class="collection-item col s12 m6">
                        <i class="material-icons prefix"></i>
                         Description : {{ feedback.description }}

                    </div>
                </ul>
            </a>
        {% endfor %}

    </div>
</div>

</body>
</html>