<!DOCTYPE html>
<html lang="en">
{% include 'base.html' %}
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="POST" >
<div class="container">
    <div class="row">

    {{ login_form.csrf_token }}
                <div class="username">
                {% for error in login_form.username.errors %}
                    {{ error }}
                {% endfor %}
                <div class="input-field col s12 m8">
                <i class="material-icons prefix"></i>
                {{ login_form.username(class_="validate") }}
                    {{ login_form.username.label }}
                </div>
                </div>
            <div class="password">
                {% for error in login_form.username.errors %}
                    {{ error }}
                {% endfor %}
                <div class="input-field col s12 m8" >
                <i class="material-icons prefix"></i>
                {{ login_form.password(class_="validate") }}
                {{ login_form.password.label }}

            </div>
            </div>




</div>
</div>
<div style="margin-left:700px">
    <button type="submit" class="btn waves-effect waves-light">Login</button>
                <i class="material-icons right"></i>
                </button>
            </div>
</form>
</body>
</html>

