<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<nav>
    <div class="nav-wrapper">

        <ul>


            <li><a href="{{ url_for("create_feedback") }}">Create Feedback</a></li>
            <li><a href="{{ url_for("index") }}">Feedback List</a></li>
            {% if session['username'] %}

            <li><a href="{{ url_for("logout") }}">Logout</a></li>

            {% else %}
            <li><a href="{{ url_for("register") }}">Register</a></li>
            <li><a href="{{ url_for("login") }}">Login</a></li>
            {% endif %}

        </ul>
    </div>
</nav>