<!DOCTYPE html>
<html lang="en">
{% include 'base.html' %}
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form method="POST">
<div class="container">
    <div class="row">


    {{ registration_form.csrf_token }}

            <div class="email">
                <div class="input-field col s12 m8">
                <i class="material-icons prefix"></i>
                {{ registration_form.email(class_="validate") }}
                {{ registration_form.email.label }}
                </div>
            </div>
            <div class="username">
                <div class="input-field col s12 m8">
                <i class="material-icons prefix"></i>
                {{ registration_form.username(class_="validate") }}
                {{ registration_form.username.label }}
                </div>
            </div>
            <div class="password">
                <div class="input-field col s12 m8">
                <i class="material-icons prefix"></i>
                {{ registration_form.password(class_="validate") }}
                {{ registration_form.password.label }}
                </div>
            </div>




    </div>
</div>
<div style="margin-left:700px">
                <button class="btn waves-effect waves-light" type="submit" name="action">Register
                <i class="material-icons right"></i>
                </button>
            </div>
    </form>
</body>
</html>